body{
  background: linear-gradient(rgba(0, 0, 0, 0.7),
   rgba(0, 0, 0, 0.7)), url("images/background.jpg") no-repeat center fixed;
  background-size: 100%;
}

#title{
  color: green;
}

.nav{
  margin-left: 5px;
  margin-right: 5px;
}

.form-search{
  margin-right: 15%;
}

.item-row{
  margin: 5px;
}

.card-box{
  margin: 5px;
}